# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Outputs (keep structure, ignore content)
outputs/data/simple_data/*
outputs/data/sliding_window/*
!outputs/data/sliding_window/.gitkeep
outputs/data/sessions/*
!outputs/data/sessions/.gitkeep
outputs/data/recbole/*
!outputs/data/recbole/.gitkeep
outputs/data/recbole_simple/*
!outputs/data/recbole_simple/.gitkeep
outputs/results/*.csv
outputs/results/logs/
outputs/models/*
!outputs/models/.gitkeep
outputs/logs
outputs/logs/*
!outputs/logs/.gitkeep
notebooks/log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.python-version
log_tensorboard
outputs/saved

outputs/results/**/*.log
outputs/results/**/*.json
outputs/results/**/*.png
outputs/results/**/*.md
outputs/results/**/*.pth
outputs/data/**/*.csv
log/

premissas.txt
**/*.pth
results_primeiro_tunning
results_primeiro_tunning/*
wandb