model: Caser

# Model Parameters
embedding_size: 64       # CNNs operam melhor com embeddings densos e menores
n_v: 4                   # Filtros verticais
n_h: 8                   # Filtros horizontais
dropout_prob: 0.4        # Dropout alto é crítico em Caser
reg_weight: 1e-4         # Regularização forte
loss_type: 'CE'

# Clipping
clip_grad_norm:
  max_norm: 5.0