model: Caser

embedding_size: 64

filter_sizes: [2, 3, 4]
n_v: 4
n_h: 16

dropout_prob: 0.4
reg_weight: 0.0001

loss_type: 'BPR'

train_neg_sample_args:
  distribution: 'uniform'
  sample_num: 5
  alpha: 1.0
  dynamic: false
  candidate_num: 0
