model: GCSAN

embedding_size: 64
hidden_size: 64
inner_size: 256

step: 1

n_layers: 1
n_heads: 1
weight: 0.6

dropout_prob: 0.3
reg_weight: 0.00001

loss_type: 'CE'
learning_rate: 0.001
train_batch_size: 8192
eval_batch_size: 12288