model: GCSAN

# Model Parameters
n_layers: 1              # Camadas de GNN
n_heads: 4               # Cabeças de Atenção
hidden_size: 256
inner_size: 1024
step: 1
weight_decay: 0.0001     # GNNs precisam de leve regularização L2
dropout_prob: 0.3
loss_type: 'CE'

# Clipping
clip_grad_norm:
  max_norm: 5.0