model: GRU4Rec

embedding_size: 64
hidden_size: 64
num_layers: 1

dropout_prob: 0.3

loss_type: 'BPR'

train_neg_sample_args:
  distribution: 'uniform'
  sample_num: 5
  alpha: 1.0
  dynamic: false
  candidate_num: 0
