model: SASRec

n_layers: 2
n_heads: 1
hidden_size: 128
inner_size: 256

MAX_ITEM_LIST_LENGTH: 50

hidden_dropout_prob: 0.2
attn_dropout_prob: 0.2
dropout_prob: 0.2
weight_decay: 0.0

loss_type: 'BPR'

train_neg_sample_args:
  distribution: 'uniform'
  sample_num: 5
  alpha: 1.0
  dynamic: false
  candidate_num: 0

learning_rate: 0.0003
train_batch_size: 4096
eval_batch_size: 8192
