model: SASRec

data_path: recbole_data/

# Training
train_batch_size: 1024
eval_batch_size: 1024

# Model Parameters
n_layers: 3
n_heads: 4
hidden_size: 256
inner_size: 1024
hidden_dropout_prob: 0.3
attn_dropout_prob: 0.3
hidden_act: 'gelu'
layer_norm_eps: 1e-12
loss_type: 'CE'

# Gradient Clipping
clip_grad_norm: 
  max_norm: 5.0