model: SASRec

# Model Parameters
n_layers: 2              # 2 camadas capturam a sequência sem overfittar (Kang et al.)
n_heads: 2               # Equilíbrio de atenção
hidden_size: 256         # Padronizado para o benchmark
inner_size: 1024         # Geralmente 4x o hidden_size
hidden_dropout_prob: 0.5 # Alto dropout para evitar decorar IDs únicos
attn_dropout_prob: 0.5
hidden_act: 'gelu'
layer_norm_eps: 1e-12
initializer_range: 0.02
loss_type: 'CE'

# Gradient Clipping
clip_grad_norm:
  max_norm: 5.0