model: SASRec

n_layers: 2
n_heads: 1
hidden_size: 128
inner_size: 256

MAX_ITEM_LIST_LENGTH: 50

hidden_dropout_prob: 0.5
attn_dropout_prob: 0.5
dropout_prob: 0.5
weight_decay: 0.0

loss_type: 'CE'
learning_rate: 0.001
hidden_act: 'gelu'
layer_norm_eps: 1e-12
initializer_range: 0.02