model: SASRec

data_path: recbole_data/

# Training
train_batch_size: 2048
eval_batch_size: 2048

# Model Parameters
n_layers: 3
hidden_act: 'gelu'
layer_norm_eps: 1e-12
loss_type: 'CE'

# tunning
learning_rate: 0.0002661522423321552
n_heads: 2
hidden_size: 128
inner_size: 512
hidden_dropout_prob: 0.3000206946852415
attn_dropout_prob: 0.4046018225503143

# Gradient Clipping
clip_grad_norm: 
  max_norm: 5.0